/target
.env
/.cargo

/userIDs.json
*.db
/migrations
/diesel.toml
/src/schema.rs

/blacklist.txt
/alt_accounts.txt
/poly_rankings.txt

/hof_rankings.txt
/hof_blacklist.txt
/hof_alt_accounts.txt

/0.5_poly_rankings.txt

/templates/privacy_policy.html.tera

/custom_tracks.txt
