/target
userIDs.json
blacklist.txt
hof_blacklist.txt
alt_accounts.txt
hof_alt_accounts.txt
poly_rankings.txt
hof_rankings.txt
.env
/.cargo
templates/privacy_policy.html.tera
custom_tracks.txt
0.5_poly_rankings.txt
