body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #e0e0e0;
}

table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    background-color: #1e1e1e;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #252525;
}

img {
    max-width: 75%;
    max-height: auto;
}

footer {
    margin-top: 10px;
    font-size: 0.6em;
    color: #777;
}

