{% extends "base" %}
{% block title %}Custom Track Leaderboards{% endblock title %}
{% block content %}
<h1>Custom Track Leaderboards</h1>
<div class="button-container">
    {% for track in tracks %}
    <a href="/lb-custom/{{ track }}"><button class="button">{{ track }}</button></a>
    {% endfor %}
</div>
{% endblock content %}
