{% extends "base" %}
{% block title %}Standard Track Leaderboards{% endblock title %}
{% block content %}
<h1>Standard Track Leaderboards</h1>
<div class="button-container">
    {% for track_name in track_names %}
    <a href="/lb-standard/{{ track_name }}"><button class="button">{{ track_name }}</button></a>
    {% endfor %}
</div>
{% endblock content %}
