{% extends "base" %}
{% block title %}Standard Track Leaderboards{% endblock title %}
{% block content %}
<h1>Standard Track Leaderboards</h1>
<div class="button-container">
    {% for num in numbers %}
    <a href="/lb-standard/{{ num }}"><button class="button">Track {{ num }}</button></a>
    {% endfor %}
</div>
{% endblock content %}
